. {
  font-family: 'Noto Sans KR', 'Raleway', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Sans KR', 'Raleway', sans-serif;
}
.w3-third img {
  margin-bottom: -6px;
  opacity: 0.8;
  cursor: pointer
}
.w3-third img:hover {
  opacity: 1
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}
.center-cropped {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-position: center center;
}
@media(max-width:500px) {
  .center-cropped {
    width: 100%;
    height: auto;
    background-position: center center;
  }
  table {
    font-size: 13px;
  }
}

@media(max-width:815px) {
  .center-cropped {
    width: 100%;
    height: 150px;
    background-position: center center;
  }
  .w3-display-middle.w3-xlarge{
    font-size:18px;
  }
}
@media(min-height:1000px) {
  .center-cropped {
    width: 100%;
    height: 300px;
    background-position: center center;
  }
  .w3-display-middle.w3-xlarge{
    font-size:18px;
  }
}
